{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class='container'>
  <div class='row'>
    <div class="panel panel-default">
      <div class="panel-heading">Why?</div>
      <div class="panel-body">
       Because it's funny. 
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Can I send a postcard over seas?</div>
      <div class="panel-body">
        We have the capability to do so, but for now we're keeping it within the USA.
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Will the person I send a postcard to know it was from me?</div>
      <div class="panel-body">
        They shouldn't, but if you suck at lying then they will.
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">How are the postcards mailed?</div>
      <div class="panel-body">
        They are mailed via USPS and take about a business week to be printed and mailed. The timing depends on when you made your order or if there are weather or other types of delays like holidays.
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Can I choose what it says on the postcard?</div>
      <div class="panel-body">
        No, we don't want people to purposefully choose mean things and mail them to people...this would not be cool. So, we let mean things get chosen at random. If we receive a complaint about a specific phrase then we will consider taking it down.
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Why did my post card not arrive?</div>
      <div class="panel-body">
        Then you probably entered the address incorrectly. If we discover that it was caused by something on our end we will gladly refund or resend the postcard with the correct address. Or, the person you sent it to saw it and threw it out.
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">I take offense to your service.</div>
      <div class="panel-body">
        Good.
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">I have a great idea for a phrase, what can I do to get it out onto some postcards?</div>
      <div class="panel-body">
        Send it to us and we'll take a look. If we laugh we'll give you some free postcards to send out.
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">How do you take payments?</div>
      <div class="panel-body">
        We process payments through <a href="http://stripe.com">Stripe</a>. We do not store your credit card nor do we store ther receipients address. Even as this is the case we want to be as secure as possible so everything we do is done over a secure connection that is protected with a SSL certificate which means only the NSA can see where you're sending these postcards.
      </div>
    </div>
  </div>
</div>
{% endblock %}
